
<div class = "container">
  <div class ="top">
    <div class ="row.float-end">
     <div class ="col-12 bg-secondary">
       <p><%= link_to "log in ",new_customer_session_path, style: "color: black" %></p>
       <p><%= link_to "log out",destroy_customer_session_path,method: :delete,style: "color: black" %></p>
       <p><%= link_to "reservation",selection_date_path,style: "color: black" %></p>
       <p><%= link_to "about",about_path,style: "color: black" %></p>
     </div>
     <div class ="col-12">
      <p class ="text-center">
          Musiker
      </p>
    </div>
  </div>
</div>

<%= link_to "管理者ログアウト",destroy_admin_session_path, method: :delete %>

