<div class ="container">
  <div class ="progressbar">
    <div class ="item">STEP.1 <br>日程選択</div>
    <div class ="item">STEP.2<br>オーダーご入力</div>
    <div class ="item">STEP.3<br>ご確認</div>
    <div class ="item active">STEP.4<br>注意事項</div>
    <div class="triangle2"></div>
    <div class = "item">STEP.5<br>完了</div>
  </div>

   <h3>⚠注意事項画面︎</h3><br>
     ・キャンセル料について
      <li>3週間前・・・なし</li>
      <li>2週間前・・・料金の５０％</li>
      <li>1週間前・・・料金の８０％</li>
      <li>1週間前以降・・・料金の１００％</li>

      <li>・当サイトのサービス以外のご利用を固くお断りいたします。</li>
      <li>・当日のリクエスト曲にはお応え致しかねます。</li>
      <li>・楽器が演奏できる環境のご準備をお願いいたします。</li>

      <%= form_with model:@order,url: orders_path,method: :post do |f| %>
       <%= f.hidden_field:day, :value => @day %>
       <%= f.hidden_field:time, :value => @time %>
       <%= f.hidden_field:address, :value => @order.address %>
       <%= f.hidden_field:customer_id, :value => @order.customer_id %>
       <%= f.hidden_field:station, :value => @order.station %>
       <%= f.hidden_field:purpose,:value => @order.purpose %>
       <%= f.hidden_field:request, :value => @order.request %>
       <%= f.hidden_field:piece, :value => @order.piece %>
       <%= f.hidden_field:style, :value => @order.style %>
       <%= f.hidden_field:other, :value => @order.other %>
       <%= f.hidden_field:total_price, :value => @order.total_price %>
       <%= f.hidden_field:train_price, :value => @order.train_price %>
       <%= f.hidden_field:request_price, :value => @order.request_price %>
      <%= f.submit "予約を確定する",class:"btn btn-primary" %>
     <% end %>
</div>