<div class ="container">
  <div class ="progressbar">
    <div class ="item">STEP.1 <br>日程選択</div>
    <div class ="item">STEP.2<br>オーダーご入力</div>
    <div class ="item active">STEP.3<br>ご確認</div>
    <div class="triangle2"></div>
    <div class ="item">STEP.4<br>お支払い方法</div>
    <div class = "item">STEP.5<br>注意事項</div>
    <div class ="item">STEP.6<br>完了</div>

<div class ="col-12">
  <h3>オーダー内容確認</h3>
           <li>
              <label>日時：</label>
              <%= "#{@day} #{@time}" %>
             </li>
             <%= form_with model:@order,url:orders_payment_path do |f|  %>
             <li>
               <label>演奏希望場所：</label>
              <%= @order.address %>
             </li>
             <li>
               <label>最寄駅</label>
           　<%= @order.station %>
             </li>
             <li>
               <label>演奏希望編成：</label>
               <%= @order.style_i18n %>
             </li>
             <li>
               <label>目的：</label>
             　<%= @order.purpose_i18n %>
             </li>
             <li>
               <label>リクエストの有無：</label>
               <%= @order.piece_i18n %>
              </li>
             <li>
              <label>リクエスト曲:</label>
              <%= @order.request %>
             </li>
             <li>
               <label>備考欄：</label>
              <%= @order.other %>
             </li>
             <li>
              <label>料金</label>
              <% @order.total_price = @train_price + @price + @request_price %>
              ¥<%= (@order.total_price).to_s(:delimited) %>
             </li>
               <%= f.submit"お支払い方法選択画面へ", class:"btn btn-primary"  %>
               <%= link_to"オーダー入力画面へ戻る",new_order_path,class:"btn btn-secondary" %>
                 <%= f.hidden_field:day, :value => @day %>
                 <%= f.hidden_field:day, :value => @day %>
                 <%= f.hidden_field:time, :value => @time %>
                 <%= f.hidden_field:address, :value => @order.address %>
                 <%= f.hidden_field:customer_id, :value => @order.customer_id %>
                 <%= f.hidden_field:station, :value => @order.station %>
                 <%= f.hidden_field:purpose,:value => @order.purpose %>
                 <%= f.hidden_field:request, :value => @order.request %>
                 <%= f.hidden_field:piece, :value => @order.piece %>
                 <%= f.hidden_field:style, :value => @order.style %>
                 <%= f.hidden_field:other, :value => @order.other %>
                 <%= f.hidden_field:total_price, :value => @order.total_price %>
                 <%= f.hidden_field:train_price, :value => @order.train_price %>
                 <%= f.hidden_field:request_price, :value => @order.request_price %>
                 <%= f.hidden_field:payment, :value => @order.payment %>
               <% end %>
            </li>
    </div>


</div>