<div class ="progressbar">
  <div class ="item active">STEP.1 <br>オーダーご入力</div>
  <div class ="item">STEP.2<br>ご確認</div>
  <div class ="item">STEP.3<br>注意事項</div>
  <div class ="item">STEP.4<br>完了</div>
</div>




<h3>新規オーダー入力</h3>
<%= form_with model:@order,url:orders_confirm_path do |f| %>
  <h5>お名前:<%= current_customer.last_name + current_customer.first_name%></h5>
  <h5>メールアドレス:<%= current_customer.email %></h5>
  <h5>演奏希望住所(都道府県名から）:<%= f.text_field :address %></h5>
  <h5>最寄駅（◯線◯◯駅):<%= f.text_field :station %></h5>
  <h5>日程<%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
        <% end %>
  </h5>
  <h5>演奏希望編成:<%= f.select :style,Order.styles.keys.map {|k| [I18n.t("enums.order.style.#{k}"), k]} %></h5>
  <h5>目的:<%= f.select :purpose,Order.purposes.keys.map {|k| [I18n.t("enums.order.purpose.#{k}"), k]} %></h5>
  <h5>リクエストの有無:<%= f.select :piece,Order.pieces.keys.map {|k| [I18n.t("enums.order.piece.#{k}"), k]} %></h5>
  <h5>上記で”半リクエスト””全リクエスト”を選択した方<br>
  　　　曲名を入力してください　目安：半リクエスト→５曲程度　全リクエスト→８曲程度
  　　<%= f.text_field :request %></h5>
  <h5>備考欄:<%= f.text_field :other %></h5>
  <%= f.submit"確認画面へ" %>
<% end %>