<div class ="container">
  <div class ="row">
    <div class = "col-4">
      <%= link_to "Top", root_path %>
    </div>
    <div class = "col-4">
      <%= link_to "My reservation",orders_path %>
    </div>
    <div class ="col-4">
      <%= link_to "Log  out",destroy_customer_session_path %>
    </div>
  </div>
    <div class ="progressbar">
      <div class ="item">STEP.1 <br>日程選択</div>
      <div class ="item active">STEP.2<br>オーダーご入力</div>
      <div class="triangle2"> </div>
      <div class ="item">STEP.3<br>ご確認</div>
      <div class ="item">STEP.4<br>注意事項</div>
      <div class = "item">STEP.5<br>完了</div>
    </div>

   <div class ="row">
    <h3>新規オーダー入力</h3>
     <%= form_with model:@order,url:orders_confirm_path do |f| %><br>
        日時:<%= f.label @day %> <%= f.label @time %>
      <% end %>
       <%= form_with model:@order,url:orders_confirm_path do |f| %>
         <%= f.hidden_field :day, :value => @day %>
         <%= f.hidden_field :time, :value => @time %>

         <div class ="col-5 d-xl-inline-block">
             お名前：<br>
             メールアドレス：<br>
             演奏希望場所：<br>
             最寄駅：<br>
             演奏希望編成：<br>
             目的：<br>
             リクエストの有無：<br>
             （上記で”半リクエスト”または”全リクエストを選択した方）
             曲目を記入してください：<br>
             備考欄：<br>
         </div>
        <div class ="col-7 d-xl-inline-block">
             <%= current_customer.last_name + current_customer.first_name %><br>
             <%= current_customer.email %><br>
             <%= f.text_field :address %><br>
             <%= f.text_field :station %><br>
             <%= f.select :style,Order.styles.keys.map {|k| [I18n.t("enums.order.style.#{k}"), k]} %><br>
             <%= f.select :purpose,Order.purposes.keys.map {|k| [I18n.t("enums.order.purpose.#{k}"), k]} %><br>
             <%= f.select :piece,Order.pieces.keys.map {|k| [I18n.t("enums.order.piece.#{k}"), k]} %><br>
             <%= f.text_field :request %><br>
             <%= f.text_field :other %><br>
             <%= f.submit"確認画面へ", class:"btn btn-primary" %>
        <% end %>
         </div>
    </div>
</div>



