<div class ="container">
  <div class ="progressbar">
    <div class ="item">STEP.1 <br>日程選択</div>
    <div class ="item active">STEP.2<br>オーダーご入力</div>
    <div class="triangle2"></div>
    <div class ="item">STEP.3<br>ご確認</div>
    <div class ="item">STEP.4<br>お支払い方法</div>
    <div class = "item">STEP.5<br>注意事項</div>
    <div class ="item">STEP.6<br>完了</div>
    
   <div class ="row">
    <div class ="col-12">
      <h3>新規オーダー入力</h3>
     <%= form_with model:@order,url:orders_confirm_path do |f| %><br>
        日時:<%= f.label @day %> <%= f.label @time %>
　　　　 <%= f.hidden_field :day, :value => @day %>
         <%= f.hidden_field :time, :value => @time %>
             <li>
               <label>お名前:</label>
               <%= current_customer.last_name + current_customer.first_name %>
             </li>
             <li>
               <label>メールアドレス：</label>
               <%= current_customer.email %>
             </li>
             <li>
               <label>演奏希望場所：</label>
               <%= f.text_field :address %>
             </li>
             <li>
               <label>最寄駅</label>
               <%= f.text_field :station %>
             </li>
             <li>
               <label>演奏希望編成：</label>
               <%= f.select :style,Order.styles.keys.map {|k| [I18n.t("enums.order.style.#{k}"), k]} %>
             </li>
             <li>
               <label>目的：</label>
               <%= f.select :purpose,Order.purposes.keys.map {|k| [I18n.t("enums.order.purpose.#{k}"), k]} %>
             </li>
             <li>
               <label>リクエストの有無：</label>
               <%= f.select :piece,Order.pieces.keys.map {|k| [I18n.t("enums.order.piece.#{k}"), k]} %>
              </li>
             <li>
              （上記で”半リクエスト”または”全リクエストを選択した方）<br>
               <label>曲目を記入してください：</label>
               <%= f.text_field :request %>
             </li>
             <li>
               <label>備考欄：</label>
               <%= f.text_field :other %><br>
               <%= f.submit"確認画面へ", class:"btn btn-primary" %>
        　　　　<% end %>
            </li>
    </div>
  </div>
</div>



