<!DOCTYPE html>
<html>
  <head>
    <title>Musiker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class ="row d-flex justify-content-end">
      <div class = "col-2">
      </div>
      <div class = "col-2">
      </div>
      <div class = "col-2">
        <%= link_to "Top", root_path %>
      </div>
      <div class = "col-2">
         <%= link_to "My reservation",orders_path %>
      </div>
      <div class = "col-2">
        <%= link_to "Log  out",destroy_customer_session_path %>
      </div>
      <div class = "col-2">
      </div>



    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
