<!DOCTYPE html>
<html>
  <head>
    <title>Musiker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if customer_signed_in? %>
    <div class ="col-12">
     <div class ="nav">
       <a><%= link_to "Top",root_path, style: "color: black" %></a>
       <a><%= link_to "My page",orders_path, style: "color: black" %></a>
       <a><%= link_to "Reservation",selection_date_path,style: "color: black" %></a>
       <a><%= link_to "About",about_path,style: "color: black" %></a>
       <a><%= link_to "Log out",destroy_customer_session_path,method: :delete,style: "color: black" %></a>
      </div>
    </div>
  <% else %>
    <div class ="col-12">
      <div class ="nav">
           <a><%= link_to "Top",root_path, style: "color: black" %></a>
           <a><%= link_to "Sign up",new_customer_registration_path, style: "color: black" %></a>
           <a><%= link_to "Log in",new_customer_session_path, style: "color: black" %></a>
           <a><%= link_to "About",about_path,style: "color: black" %></a>
      </div>
    </div>
 <% end %>


  <body>
    <%= yield %>
  </body>
</html>
