<!DOCTYPE html>
<html>
  <head>
    <title>Musiker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if admin_signed_in? %>
 <div class = "container">
    <div class ="d-flex justify-content-center m-5">
       <u class ="m-auto"><%= link_to "Top",root_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "All reservation",admin_orders_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "New player",new_admin_player_path,style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "All players",admin_players_path,style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "Log out",destroy_admin_session_path,method: :delete,style: "color: black" %></u>
    </div>
 </div>
<% elsif %>
  <% if customer_signed_in? %>
   <div class = "container">
    <div class ="d-flex justify-content-center m-5">
       <u class ="m-auto"><%= link_to "Top",root_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "My page",orders_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "Reservation",selection_date_path,style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "About",about_path,style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "Log out",destroy_customer_session_path,method: :delete,style: "color: black" %></u>
    </div>
 </div>
  <% else %>
    <div class ="container">
      <div class ="d-flex justify-content-center m-5">
       <u class ="m-auto"><%= link_to "Top",root_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "Sign up",new_customer_registration_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "Log in",new_customer_session_path, style: "color: black" %></u>
       <u class ="m-auto"><%= link_to "About",about_path,style: "color: black" %></u>
     </div>
   </div>
 <% end %>


  <body>
    <%= yield %>
  </body>
</html>
